<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>L'incroyable quiz poissons</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="question">
        <div class="question-number">Question 1/12</div>
        <div class="question-body">
          <h1 class="question-title">Quelle est la vitesse de pointe d'un thon?</h1>
          <form method="post" action="results.html">
            <label><input type="radio" name="option" value="20 km/h"> 20 km/h</label>
            <label><input type="radio" name="option" value="40 km/h"> 40 km/h</label>
            <label><input type="radio" name="option" value="80 km/h"> 80 km/h</label>
            <button type="submit">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
